<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{ISO8601} : %-5level : [%logger] : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="accessStdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%thread] %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="org.opentripplanner" level="info" />
	<logger name="org.opentripplanner.analyst" level="info" />
	<logger name="org.opentripplanner.routing" level="info" />
	<logger name="org.opentripplanner.routing.impl.RetryingPathServiceImpl" level="debug" />
	<logger name="org.opentripplanner.routing.algorithm.GenericAStar" level="debug" />
	<!-- Avoid printing debug messages about free-flowing vertices -->
	<logger name="org.opentripplanner.routing.vertextype.IntersectionVertex" level="info" />
	<!-- Avoid printing debug messages when walk limits are exceeded -->
	<logger name="org.opentripplanner.routing.edgetype.PlainStreetEdge" level="info" />
    <!-- Avoid printing debug messages when a fare could not be found -->
    <logger name="org.opentripplanner.routing.impl.DefaultFareServiceImpl" level="error" />
	<!-- Avoid printing info messages about calendars when building graph -->
	<logger name="org.onebusaway.gtfs.impl.calendar.CalendarServiceDataFactoryImpl" level="warn" />
	<!-- Avoid printing ugly warning message when unable to create websocket connection -->
	<logger name="com.ning.http.client.providers.netty.NettyAsyncHttpProvider" level="error" />
	
	<logger name="org.springframework" level="warn" />
	<logger name="com.sun.jersey" level="warn" />

	<logger name="org.opentripplanner.standalone.GrizzlyAccessLog" level="info" additivity="false">
        <appender-ref ref="accessStdout"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="stdout" />
    </root>
</configuration>

